<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>restaurantImages</key>
	<array/>
	<key>Item 0</key>
	<string>Chilis</string>
	<key>item 1</key>
	<string>Ninja Sushi</string>
	<key>item 2</key>
	<string>Panda Express</string>
	<key>item 3</key>
	<string>Loco Moco</string>
	<key>item 4</key>
	<string>Ruby Tuesday</string>
	<key>item 5</key>
	<string>Taco Bell</string>
</dict>
</plist>
